<% provide(:title, 'Contact Us') %>
<!DOCTYPE html>
￼￼￼￼
<html>
  <head>
<title>Ruby on Rails Test App | <%= yield(:title) %></title> 
	</head>
  <body>
    <h1>Contact Us</h1>
<p>In order to contact me, please see the blah, blah blah dee blah.
</p> </body>
</html>